{{define "content"}}
<div class="container-fluid py-5">
    <div class="card">
        <h5 class="py-3 px-3">List Survey Dibuat</h5>
        <div class="card-body">
            <table class="table table-bordered table-hover mb-0">
                <thead>
                <tr>
                    <td>ID Survey</td>
                    <td>Title</td>
                    <td>Summary</td>
                    <td>Category</td>
                    <td>Target</td>
                    <td>Point</td>
                    <td>Count</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                {{range .surveys}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Title}}</td>
                    <td>{{.Summary}}</td>
                    <td>{{.Category}}</td>
                    <td>{{.Target}}</td>
                    <td>{{.Point}}</td>
                    <td>{{.Count}}</td>
                    <td>
                        <a href="/surveys/detail/{{.Id}}" class="btn btn-sm btn-primary">Detail</a>
                        <a href="/surveys/delete/{{.Id}}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to delete?')">Delete</a>

                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}